<!DOCTYPE html>
<html>
  <head>
    <#include "/common/headblock.html">
    <title>我的人脉</title>
  </head>
  <body>
    <@header />
    
    <div class="weui-cells__title">我的好友</div>
    <div class="weui-cells">
      <a href="${BASE_URI}/ucsite/index.do?uid=1233" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>张三</p>
          <p style="font-size: 13px;color: #888888;">摘要信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/ucsite/index.do?uid=1233" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>李四</p>
          <p style="font-size: 13px;color: #888888;">摘要信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>
    
    <div class="weui-cells__title">一面之缘</div>
    <div class="weui-cells">
      <a href="${BASE_URI}/ucsite/index.do?uid=1233" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>林彪</p>
          <p style="font-size: 13px;color: #888888;">摘要信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/ucsite/index.do?uid=1233" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>江青</p>
          <p style="font-size: 13px;color: #888888;">摘要信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/ucsite/index.do?uid=1233" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>林彪</p>
          <p style="font-size: 13px;color: #888888;">摘要信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/ucsite/index.do?uid=1233" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>江青</p>
          <p style="font-size: 13px;color: #888888;">摘要信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>
    
    <@nav activeIndex="1" />
		
  </body>
</html>