<!DOCTYPE html>
<html>
  <head>
    <#include "/common/headblock.html">
    <title>佣金记录详情</title>
  </head>
  <body>
    <@header left="<a href='javascript:;' onclick='javascript:history.back(-1);' class='icon pull-left' style='width:100px;'><i class='base-title'></i></a>" />
    
    <div class="weui-form-preview">
	  <div class="weui-form-preview__hd">
	    <label class="weui-form-preview__label">付款金额</label>
	    <em class="weui-form-preview__value">¥20.00</em>
	  </div>
	  <div class="weui-form-preview__bd">
	    <div class="weui-form-preview__item">
	      <label class="weui-form-preview__label">简历名称</label>
	      <span class="weui-form-preview__value">张三的简历</span>
	    </div>
	    <div class="weui-form-preview__item">
	      <label class="weui-form-preview__label">牵线人(XXX)</label>
	      <span class="weui-form-preview__value">分得佣金：10.00￥</span>
	    </div>
	    <div class="weui-form-preview__item">
	      <label class="weui-form-preview__label">简历归属人(李四)</label>
	      <span class="weui-form-preview__value">分得佣金：6.00￥</span>
	    </div>
	    <div class="weui-form-preview__item">
	      <label class="weui-form-preview__label">平台服务费</label>
	      <span class="weui-form-preview__value">分得佣金：4.00￥</span>
	    </div>
	    <div class="weui-form-preview__item">
	      <label class="weui-form-preview__label">付费时间</label>
	      <span class="weui-form-preview__value">2017-07-30 15:57:12</span>
	    </div>
	  </div>
	  <div class="weui-form-preview__ft">
	    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">辅助操作</a>
	    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">操作</button>
	  </div>
	</div>
  </body>
</html>