<!DOCTYPE html>
<html>
  <head>
    <#include "/common/headblock.html">
    <title>佣金：100￥</title>
  </head>
  <body>
    <@header left="<a href='javascript:;' onclick='javascript:history.back(-1);' class='icon pull-left' style='width:100px;'><i class='base-title'></i></a>" />
    
    <div class="weui-cells" id="comms">
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>刘总</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>李总</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>黄老四</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>肖总</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>梁总</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>熊总</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>nicsal</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>花小白</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>
    
    <div class="weui-loadmore">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
    
    <div id="model" style="display:none;">
      <a href="${BASE_URI}/uc/comm/detail.do?id=111" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <img src="${BASE_URI}/static/common/images/pic_160.png" style="width: 50px;display: block">
        </div>
        <div class="weui-cell__bd">
          <p>葛老板</p>
          <p style="font-size: 13px;color: #888888;">XX简历 付费9.00￥</p>
          <p style="font-size: 13px;color: #888888;">支付时间：2017-07-09 15:13:14</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>
	
	<script>
      var loading = false;
      $(document.body).infinite().on("infinite", function() {
        if(loading) return;
        loading = true;
        setTimeout(function() {
          $("#comms").append($("#model").html());
          loading = false;
        }, 2000);
      });
    </script>
  </body>
</html>