<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="${BASE_URI}/static/plugins/weui/css/weui.min.css">
<link rel="stylesheet" href="${BASE_URI}/static/plugins/weui/css/jquery-weui.css">
<link rel="stylesheet" href="${BASE_URI}/static/common/css/base.css">

<script src="${BASE_URI}/static/plugins/jquery-1.11.2.min.js"></script>
<script src="${BASE_URI}/static/plugins/weui/fastclick.js"></script>
<script src="${BASE_URI}/static/plugins/weui/jquery-weui.js"></script>

<#include "macros.html">