<!DOCTYPE html>
<html>
  <head>
    <#include "/common/headblock.html">
    <title>首页</title>
  </head>
  <body>
    <@header />
    
    <div class="weui-tab">
      <div class="weui-search-bar" id="searchBar">
	      <form class="weui-search-bar__form">
	        <div class="weui-search-bar__box">
	          <i class="weui-icon-search"></i>
	          <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
	          <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
	        </div>
	        <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
	          <i class="weui-icon-search"></i>
	          <span>搜索</span>
	        </label>
	      </form>
	      <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
	  </div>
	  
	  <div class="weui-flex">
  <div class="weui-flex__item">weui</div>
  <div class="weui-flex__item">weui</div>
</div>
	  
   </div> <!-- weui-tab -->

   <@nav />
      
  </body>
</html>