body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.base-title {
  text-align: center;
  font-size: 20px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.base-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.base-header {
  padding: 2px 0;
}

.base-content-padded {
  padding: 15px;
}

.base-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}
